/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea/
/src/Mayflower/PopularRadarBundle/Resources/bower_cache/
/src/Mayflower/PopularRadarBundle/Resources/public/vendor/
